My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dc1bcb91-1dad-4e25-9570-360a964e5e31",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/microsoft/vscode/releases/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "bb63b9a4-d367-4a61-a2f5-2252e11a68ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LG5zQUsgTR0GmyWc-_sKdxcqIkBLIsq2ACNSKZ6Kqk8",
          "mode": "list",
          "cachedResultName": "GitHub_repository_version_check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LG5zQUsgTR0GmyWc-_sKdxcqIkBLIsq2ACNSKZ6Kqk8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LG5zQUsgTR0GmyWc-_sKdxcqIkBLIsq2ACNSKZ6Kqk8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.published_at }}",
            "Repository ": "microsoft/vscode",
            "Version": "={{ $json.tag_name }}",
            "Release Name": "={{ $json.name }}",
            "Release url": "={{ $json.author.html_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Repository ",
              "displayName": "Repository ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Version",
              "displayName": "Version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Name",
              "displayName": "Release Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release url",
              "displayName": "Release url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "3db54233-bf9d-4b21-af90-f4c57a216797",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wsJZj7j4Wz7Ck3jY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vikkysahu343@gmail.com",
        "subject": "Github version updated",
        "message": "=<h3>New GitHub Release</h3> 2   3 <b>Repository:</b> microsoft/vscode<br> 4 <b>Version:</b> {{ $json['Repository '] }}<br> 5 <b>Name:</b> {{ $json.Version }}<br> 6 <b>Published:</b> {{ $json.Date }}<br> 7",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "fa65e604-6d13-4e14-b165-960b084f3042",
      "name": "Send a message",
      "webhookId": "0057e48b-6f5a-45b9-a494-6f56c8e45b3e",
      "credentials": {
        "gmailOAuth2": {
          "id": "IX9TyL62Evau3MMR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1eb571af-3846-469e-83ae-d9a4a3df280c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cda9e4d6095a254f687ee0f77441f37c7d049dfc04f335456a6d6e23e563ab8"
  },
  "nodeGroups": [],
  "id": "Z3DwHeHeyribQLhY",
  "tags": []
}